.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #200c00;
    background-image: 
        radial-gradient(at 47% 33%, hsl(224, 74%, 82%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(216.55, 63%, 65%) 0, transparent 55%);
    background-size: cover;
}

.card {
    backdrop-filter: blur(21px) saturate(143%);
    -webkit-backdrop-filter: blur(21px) saturate(143%);
    background-color: rgba(111, 135, 148, 0.59);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 2.5rem;
    width: 360px;
    text-align: center;
    color: #fff;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}

.login-title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.login-subtitle {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    color: rgba(255,255,255,0.8);
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-input {
    padding: 0.85rem 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    border: none;
    outline: none;
    background: rgba(89, 86, 86, 0.2);
    color: #fff;
    font-size: 1rem;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.login-input::placeholder {
    color: rgba(255,255,255,0.7);
}


.login-input:focus {
    background: rgba(141, 135, 135, 0.35);
    box-shadow: 0 0 10px rgba(255,255,255,0.5);
    transform: scale(1.03);
}

/* Button */
.login-button {
    padding: 0.85rem 1rem;
    border-radius: 12px;
    border: none;
    background: #68f468;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button:hover {
    background: #3ef534;
    transform: scale(1.03);
}

/* Footer */
.login-footer {
    margin-top: 1rem;
    font-size: 0.85rem;
    color: rgba(255,255,255,0.8);
}

.login-footer a {
    color: #fff;
    font-weight: 600;
    text-decoration: underline;
}
